#nav-overlay {
    position: fixed;
    left:0; top:0; bottom:0; right:0;
    background: #725163;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
}
#nav-overlay.active {
    opacity: 1;
    visibility: visible;
}
header nav {
    text-transform: uppercase;
    margin: 40px auto;
}
header ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    letter-spacing: 0.08em;
}
header ul li a {
    transition: all 250ms ease;
    font-size:1.5em;
}
.x {
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 3em;
    color:#bb9bb0;
    margin: 0px auto 5px auto;
}
#nav-overlay .overlay-content {
    text-align: center;
    margin: 70px auto;
}
.overlay-content {
    z-index: 60px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo h1, .logo img {
    filter: drop-shadow(0.5px 0.5px 20px #846075);
}
.title {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,208,218,1) 10%, rgba(187,155,176,1) 26%, rgba(161,129,149,1) 44%, rgba(114,81,99,1) 100%);
    width: 100%;
    padding-top: 35vh;
    padding-bottom: 50vh;
}
.logo h1, .title h1 {
    padding: 0;
    margin: 0;
    color:#bb9bb0;
    font-size: 2em;
    text-transform: lowercase;
    font-weight: lighter;
    position: relative;
    top: 115px;
    right: 25px;
    transition: all 500ms ease;
}
.logo img, .title img {
    width: 150px;
    padding: 0;
    margin: 0;
}

.title h1, .title img {
    position: relative;
    z-index: -0;
    filter: drop-shadow(0.5px 0.5px 20px #846075);
}
#menu {
    display: block;
    z-index: 20;
    position: fixed;
    right: 0px;
    top: -60px;
    transition: top 500ms;
    margin-top: 30px;
    margin-right: 40px;
}
