<h2>Profile</h2>
<div class="container text-;efy">
    <div class="row">
      <div class="col">
        <h3>Hello, I'm Roni, an aspiring user experience designer and engineer, creative technologist, and multidisciplinary artist.</h3>
        <div class="profile-links">
            <a href="https://www.linkedin.com/in/roni-ruadap/" target="_blank"><i class="fa-brands fa-linkedin"style="color:#725163;"></i></a>
            <a href="https://github.com/ladyron" target="_blank"><i class="fa-brands fa-square-github"style="color:#725163;"></i></a>
            <a href="https://codepen.io/ladyron" target="_blank"><i class="fa-brands fa-codepen"style="color:#725163;"></i></a>
        </div>
      </div>
      <div class="col">
        <p>
            I graduated from Georgia Institute of Technology in Atlanta with a joint degree in <a href="https://catalog.gatech.edu/programs/computational-media-bs/#text">Computational Media</a>, merging skills from Computing and Media disciplines. This program honed my abilities
            in computational principles, software and visual design, and digital media manipulation.<br/><br/>As a budding UX/UI designer, I've tackled projects using tools like Figma and Adobe software,
            alongside experience in software development within interdisciplinary teams and a longstanding interest in graphic design.
        </p>
      </div>
      <div class="col">
        <p>
            With a deep love for art and technology, I aim to fuse these passions by crafting inventive user experiences. My vision encompasses bringing together design and technology, whether through
            motion graphics or digital media, to create seamless and innovative interactions.<br/><br/> My journey encompasses diverse experiences, all converging to shape me into an aspiring UX/UI designer and engineer.
        </p>
      </div>
    </div>
  </div>
