<!-- <h2>About</h2> -->
<div class="intro container text-left">
    <div class="row">
      <div class="col">
        <h3>Hello, I'm<br/><span style="font-size:2em;">Roni Ruadap</span><br/>aspiring UX/UI Designer</h3>
        <ul class="profile-links">
          <li><a arial-label="Link to Linkedin profile" href="https://www.linkedin.com/in/roni-ruadap/" target="_blank"><i class="fa-brands fa-linkedin"style="color:#725163;"></i></a></li>
          <li><a arial-label="Link to Github profile" href="https://github.com/ladyron" target="_blank"><i class="fa-brands fa-square-github"style="color:#725163;"></i></a></li>
          <li><a arial-label="Link to Codepen profile" href="https://codepen.io/ladyron" target="_blank"><i class="fa-brands fa-codepen"style="color:#725163;"></i></a></li>
        </ul>
      </div>
      <div class="col">
        <p>
          A multidisciplinary designer, web developer, and life-time creative technologist focused on creating user-centered websites and applications.<br/><br/>I enjoy learning new programming and design tools to provide creative and innovative solutions. I also delight in brand design, logo work, and other things design and artistic.
            <!-- I graduated from Georgia Institute of Technology in Atlanta with a joint degree in <a href="https://catalog.gatech.edu/programs/computational-media-bs/#text">Computational Media</a>, merging skills from Computing and Media disciplines. This program honed my abilities
            in computational principles, software and visual design, and digital media manipulation.<br/><br/>As a budding UX/UI designer, I've tackled projects using tools like Figma and Adobe software,
            alongside experience in software development within interdisciplinary teams and a longstanding interest in graphic design.
            With a deep love for art and technology, I aim to fuse these passions by crafting inventive user experiences. My vision encompasses bringing together design and technology, whether through
            motion graphics or digital media, to create seamless and innovative interactions.<br/><br/> My journey encompasses diverse experiences, all converging to shape me into an aspiring UX/UI designer. -->
        </p>
      </div>
      <!-- <div class="col-sm">
        <p>
        Ars Long, Vita Brevis
        </p>
      </div> -->
    </div>
  </div>
  <div class="stats container text-left">
    <div class="row">
      <div class="col-sm">
        <h4>Education</h4>
        <h5>Georgia Institute of Technology</h5>
        <p>Bachelor of Science (B.S.), Computational Media<br/>
          <span style="font-size:0.85em">A joint degree program that integrates technical and computing skills with design and media principles.</span>
        </p>
      </div>
      <div class="col-sm technical">
        <h4>Technical Skills</h4>
        <ul>
          <div class="row">
            <div class="col">
              <li>
                <div class="figma">
                  <img width=50 src="/assets/figma.svg" alt="Figma logo"><p>Figma</p>
                </div>
              </li>
              <li>
                <div class="photoshop">
                  <img width=50 src="/assets/photoshop.svg" alt="Adobe Photoshop logo"><p>Photoshop</p>
                </div>
              </li>
              <li>
                <div class="illustrator">
                  <img width=50 src="/assets/illustrator.svg" alt="Adobe Illustrator logo"><p>Illustrator</p>
                </div>
              </li>
            </div>
            <div class="col">
              <li>
                <div class="aftereffects">
                  <img width=50 src="/assets/after-effects.svg" alt="Adobe Illustrator logo"><p>After Effects</p>
                </div>
              </li>
              <li>
                <div class="blender">
                  <img width=50 src="/assets/blender.svg" alt="Blender logo"><p>Blender</p>
                </div>
              </li>
              <li>
                <div class="blender">
                  <img width=50 src="/assets/blender.svg" alt="Blender logo"><p>HTML5, CSS, JavaScript</p>
                </div>
              </li>
            </div>
            <div class="col">
              <li>
                <div class="aftereffects">
                  <img width=50 src="/assets/after-effects.svg" alt="Adobe Illustrator logo"><p>After Effects</p>
                </div>
              </li>
              <li>
                <div class="blender">
                  <img width=50 src="/assets/blender.svg" alt="Blender logo"><p>Blender</p>
                </div>
              </li>
              <li>
                <div class="blender">
                  <img width=50 src="/assets/blender.svg" alt="Blender logo"><p>HTML5, CSS, JavaScript</p>
                </div>
              </li>
            </div>
              <!-- <li>
                <div class="blender">
                  <img width=50 src="/assets/blender.svg" alt="Blender logo"><p>PHP</p>
                </div>
              </li> -->
          </div>
        </ul>
      </div>
    </div>
    <div class="certification row">
      <div class="col-sm">
        <h4>Certifications</h4>
        <div class="col"><i class="google fa-brands fa-google"></i>Google UX Design Certification by Coursera (In Progress)</div>
      </div>
      <div class="col">
        <h4>Skill Set</h4>
        <div class="skills container">
          <ul>
            <!-- <div class="row">
              <div class="col">
                <li>UX Design</li>
              </div>
              <div class="col">
                <li>Responsive Design</li>
              </div>
              <div class="col">
                <li>Design System</li>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col">
                <li>UI Design</li>
              </div>
              <div class="col">
                <li>Wireframing</li>
              </div>
              <div class="col">
                <li>Prototyping</li>
              </div>
              <div class="col">
                <li>Branding</li>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col">
                <li>Graphic Design</li>
              </div>
              <div class="col">
                <li>Web Design</li>
              </div>
              <div class="col">
                <li>Motion Graphics</li>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col">
                <li>Programming</li>
              </div>
            </div> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
          <!-- <p>UX Design</p> -->
        <!-- <p>Responsive Design</p> -->
        <!-- <p>Design System</p> -->
        <!-- <p>UI Design</p>
        <p>Wireframing</p>
        <p>Branding</p>
        <p>Logo</p> -->
